@import "reset.css";
@import "fonts.css";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  height: 100vh;
  background: #000;
  font-family: 'Neue Machina';
  color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 88vh;
  position: relative;
}
.wrapper2 {
  width: 100%;
  /* overflow: hidden; */
}
.logo {
  width: 100px;
  align-self: flex-start;
  position: absolute;
  z-index: 5;
}
footer,
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header {
  padding-top: 50px;
}
.time,
.day {
  color: rgba(0,0,0,0);
  font-weight: bold;
  -webkit-text-stroke: 0.5px white;
  line-height: 90%;
}
.time {
  text-align: right;
  margin-top: 4px;
  z-index: -1;
}
.lecture-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  position: relative;
  z-index: -1;
}
.lecture-logo_eye {
  z-index: 0;
  position: absolute;
  width: 60%;
}
.animals {
  position: absolute;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  align-content: center;
  position: absolute;
  justify-content: center;
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  width: 100%;
  /* animation: 5s ease-in appear;
  animation-fill-mode: forwards; */
}
/* @keyframes appear {
  100% {
    opacity: 1;
  }
}`` */
.test {
  display: none;
}
.animal1:hover .test {
  width: 5000px;
  height: 5000px;
  right: -90%;
  top: -50%;
  position: absolute;
  z-index: -1;
  display: block;
  backdrop-filter: blur(2px);
  background-color: rgba(0,0,0,0.5);
}
.animal2:hover .test {
  width: 5000px;
  height: 5000px;
  right: -90%;
  top: -50%;
  position: absolute;
  z-index: -1;
  display: block;
  backdrop-filter: blur(2px);
  background-color: rgba(0,0,0,0.5);
}
.animal3:hover .test {
  width: 5000px;
  height: 5000px;
  right: -90%;
  top: -50%;
  position: absolute;
  z-index: -1;
  display: block;
  backdrop-filter: blur(2px);
  background-color: rgba(0,0,0,0.5);
}
.animal4:hover .test {
  width: 5000px;
  height: 5000px;
  right: -90%;
  top: -50%;
  position: absolute;
  z-index: -1;
  display: block;
  backdrop-filter: blur(2px);
  background-color: rgba(0,0,0,0.5);
}
.animal5:hover .test {
  width: 5000px;
  height: 5000px;
  right: -90%;
  top: -50%;
  position: absolute;
  z-index: -1;
  display: block;
  backdrop-filter: blur(2px);
  background-color: rgba(0,0,0,0.5);
}
.animal6:hover .test {
  width: 5000px;
  height: 5000px;
  right: -90%;
  top: -50%;
  position: absolute;
  z-index: -1;
  display: block;
  backdrop-filter: blur(2px);
  background-color: rgba(0,0,0,0.5);
}
.animal img {
  width: 250px;
}
.animal:hover {
  transform: scale(1.5);
  transition: 2s;
  animation: none;
  z-index: 1;
}
.animal1:hover::after {
  content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.";
  z-index: 5;
  color: white;
  width: 300px;
  padding: 10px;
  right: -300px;
  position: absolute;
  background: black;
  border: 1px solid white;
}
.animal2:hover::after {
  content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.";
  z-index: 5;
  color: white;
  width: 300px;
  padding: 10px;
  right: calc(100% - 30px);
  position: absolute;
  z-index: 5;
  background: black;
  border: 1px solid white;
}
.animal3:hover::after {
  content: "ЕДИНОРОГ Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.";
  z-index: 5;
  color: white;
  width: 300px;
  padding: 10px;
  right: calc(100% - 30px);
  position: absolute;
  background: black;
  border: 1px solid white;
}
.animal4:hover::after {
  content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.";
  color: white;
  width: 300px;
  padding: 10px;
  right: calc(100% - 30px);
  position: absolute;
  background: black;
  border: 1px solid white;
}
.animal5:hover::after {
  content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.";
  z-index: 5;
  color: white;
  width: 300px;
  padding: 10px;
  right: calc(100% - 30px);
  position: absolute;
  background: black;
  border: 1px solid white;
}
.animal6:hover::after {
  content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.";
  z-index: 5;
  color: white;
  width: 300px;
  padding: 10px;
  right: calc(100% - 30px);
  position: absolute;
  background: black;
  border: 1px solid white;
  transition: 2s;
}
.animal1 {
  animation: 7s shake 2s infinite;
}
.animal2 {
  animation: 7s shake 5s infinite;
}
.animal3 {
  animation: 7s shake 7s infinite;
}
.animal4 {
  animation: 7s shake 6s infinite;
}
.animal5 {
 animation: 7s shake 4s infinite;
}
.animal6 {
  animation: 7s shake 10s infinite;
}
.animal7 {
  animation: 7s shake 8s infinite;
}

/* @keyframes scale {
  100% {
    transform: scale(1.1);
  }
} */

@keyframes shake {
  2%, 6% {
    transform: rotate(3deg);
  }
  4%, 8% {
    transform: rotate(-3deg);
  }
  10%, 16% {
    transform: rotate(3deg);
  }
  16% {
    transform: rotate(0) ;
  }
}

.lecture-logo_text {
  width: 100%;
  animation: 9s linear infinite rotation;
}
.adress span {
  margin-top: 20px;
  display: block;
}
.adress {
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.04em;
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

.lecture-name {
  font-size: 30px;
  font-weight: bold;
  line-height: 100%;
  letter-spacing: 0.04em;
  position: relative;
  z-index: 3;
}

footer {
  align-items: flex-end;
  position: relative;
}

@media (min-width: 1366px) {
  .adress {
    font-size: 18px;
  }
  .time,
  .day {
    font-size: 140px;
  }
  .wrapper {
    margin: 0 18%;
  }
  .lecture-logo {
    width: 190px;
  }
  .lecture-name {
    font-size: 38px;
  }
}
@media (min-width: 1300px) {
  .animal img {
    width: 280px;
  }
}
@media (min-width: 1024px) and (max-width: 1365px) {
  .time,
  .day {
    font-size: 130px;
  }
  .wrapper {
    margin: 0 12%;
  }
  .lecture-name {
    font-size: 38px;
  }

}

@media (min-width: 768px) and (max-width: 1023px) {
  header {
    padding-top: 44px;
  }
  .adress {
    font-size: 14px;
  }
  .lecture-name {
    font-size: 26px;
  }
  .wrapper {
    margin: 0 12%;
  }
  .logo {
    width: 80px;
  }
  .lecture-logo {
    width: 160px;
  }
  .time,
  .day {
    font-size: 86px;
  }

}

@media (min-width: 480px) and (max-width: 767px) {
  .logo {
    width: 70px;
  }
  .lecture-name {
    font-size: 22px;
  }
  .time,
  .day {
    font-size: 90px;
  }
  .time {
    position: absolute;
    left: calc(100% - 132px);
  }
  .wrapper {
    margin: 0 8%;
  }
  .lecture-logo {
    width: 130px;
    margin-bottom: 20px;
  }
  header {
    padding-top: 38px;
  }
  .adress {
    font-size: 14px;
  }
}

@media (min-width: 375px) and (max-width: 479px) {
  .time,
  .day {
    font-size: 60px;
  }
  .time {
    position: absolute;
    left: calc(100% - 90px);
  }
  .lecture-name {
    font-size: 20px;
  }
  .lecture-logo {
    width: 120px;
    margin-bottom: 20px;
  }
  .adress {
    font-size: 12px;
  }
  .icon-info:hover::before {
    font-size: 12px;
    font-weight: 300;
    line-height: 130%;
    top: -320%;
    background: #C21010;
    border: 1px solid white;
    padding: 10px;
  }
  .wrapper {
    margin: 0 8%;
  }
}

@media (min-width: 300px) and (max-width: 374px) {
  .time,
  .day {
    font-size: 42px;
  }
  .time {
    position: absolute;
    left: calc(100% - 62px);
  }
  .lecture-name {
    font-size: 18px;
  }
  .adress {
    font-size: 12px;
  }
  .lecture-logo {
    width: 120px;
    margin-bottom: 16px;
  }
  .unicorn {
    width: 130%;
    animation: 120s linear infinite translate;
    left: -40px;
    background-size: 130%;
  }
  .wrapper {
    margin: 0 6%;
  }
}
